body {
  overflow-x: hidden;
}



/* Navbar */

.navbar {
  height: 10% !important;
}

.navbar-collapse {
  text-align: center;
}

.navbar li {
  margin: 0 1em;
}

.nav-link {
  color: white !important;
}

@media screen and (max-width: 1100px) {
  .navbar {
    background-color: black !important;
  }

  .navbar-collapse {
    background-color: black !important;
  }
}





/* Header */

.header {
  background :linear-gradient(0deg,  rgba(10, 10, 10, 0.616), rgba(15, 15, 15, 0.555)) , url(images/Main-bg.jpg);
  background-size: cover;
  background-position: 10%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.intro {
  font-family: "Sacramento", cursive;
}

.header-title {
  padding-top: 40vh;
  font-size: 4rem;
}

.header-span {
  color: rgb(231, 231, 17);
  font-size: 6rem;
}

.header-content {
  font-size: 4rem;
}

@media screen and (max-width: 1100px){
  .header{
    height: 90vh;
    background-size: cover;
  }
  .header-title {
    padding-top: 30% ;
    font-size: 3rem;
  }
  .header-content {
    font-size: 2rem;
    padding-bottom: 10%;
  }
}



/* About-Me */

.slide-right {
  width: 100%;
  overflow: hidden;
}

.slide-right h2, .slide-right h4, .slide-right p {
  animation: 1s slide-right 0s forwards;
  transform:translateX(-100%);
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}

.about-me {
  background: linear-gradient(180deg, rgb(7, 7, 7), rgba(17, 17, 17, 0.753)) ;
  color: white;
  text-align: center;
  padding: 10% 0;
  line-height: 2;
}

.about-div{
  width: 60% !important;
  margin: auto;
  text-align: left;
  border-style: dotted;
  padding: 5%;
}


.about-title {
  font-family: "Montserrat", sans-serif;
  color: yellow;
  font-size: 3rem;
  padding-bottom: 2%;
}

@media screen and (max-width: 1100px) {
  .about-div {
    width: 80% !important;
  }
}



/* Experience */

.experience {
  text-align: center;
  background-image: url(images/Exp-bg.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.experience-heading {
  padding: 3% 3% 0 3%;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Tangerine", cursive; */
  font-size: 3rem;
  color: yellow;
  background-color:grey;
}

.experience-elements {
  padding: 5%;
}

.experience-img {
  padding: 5% 0;
}
.experience-title {
  display: block;
}

@media screen and (max-width: 1100px){

  .experience-img {
    width: 60%;
  }

  .experience-title {
    padding-bottom: 5% !important;
  }

}



/* Skills */

.skills {
  background: linear-gradient(180deg, rgba(46, 43, 43, 0.753), rgb(14, 12, 12));
  border-bottom: white;
  border-bottom-style: solid;
}

.skills-title {
  text-align: center;
  padding-top: 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: yellow;
}

.skills-row {
  padding: 3% 3% 5% 3%;
}

.left-skills {
  text-align: center;
}

.right-skills {
  text-align: left;
  padding-top: 3%;
  background-color: grey;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  border-radius: 8%;
  border-style: solid;
  border-color: thistle;
}

.skill-item {
  padding: 3%;
  margin-left: 8%;
}

.skill-fas {
  padding-right: 3%;
  color: aquamarine;
  width: 80px;
  text-align: center;
}

.skill-content {
  font-size: 2.5rem;
  font-family: "Peddana", serif;
  color: white;
}

@media screen and (max-width: 1100px) {

  .skills-title {
    padding-top: 10% !important;
  }

  .skills-img {
    height: 80%;
    width: 80%;
  }

  .left-skills{
    height: fit-content;
  }

  .skill-item{
    margin-left: 0;
  }

}



/* Contact-Me */

.contact-me {
  background :linear-gradient(0deg,  rgba(14, 13, 13, 0.904), rgba(14, 13, 13, 0.781)) , url(images/Contact-bg.jpg);
  background-position: 10%;
  padding-bottom: 5%;
}

.contact-main {
  text-align: center;
}

.contact-title {
  /* font-family: "Sacramento", cursive; */
  font-family: "Montserrat", sans-serif;
  padding: 5% 0;
  font-size: 3rem;
  color: yellow;
}

.contact-content {
  width: 30%;
  margin: auto;
  color: white;
  padding: 3%;
  border-style: dotted;
}


.contact-icons {
  text-align: center;
  padding-top: 3%;
}

.social-icon {
  display: inline-block;
  padding: 0 3%;
}

.contact-fab {
  color: white;
}

@media screen and (max-width: 1100px) {
  .contact-title{
    padding-top: 20%;
  }

  .contact-content {
    width: 60%;
  }
}



/* Copyright */

.copyright {
  text-align: center;
  padding: 2% 0;
  background-color: yellow;
}
